.first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem; 
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 30px;
}
.second{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 10px;
}
.first-second{
  width: 50%;
}